<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Japan</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>911RLS</h1>
      <p>Asisten super untuk semua masalah cewek di dunia!</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Pilih tipe make up kamu hari ini!
    </h2>
    <ul class="list" id="list">
      <li class="list__item">
        <a href={{"/japan"}}>
        <iframe width="914" height="514" src="https://www.youtube.com/embed/ZL4qIsu6cVI" title="igari makeup tut🍓: natural japanese look, 5 min (easy)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></a>  
        <span>Japan</span></a>
      </li>
    </ul>
    <ul class="list" id="list">
      <li class="list__item">
        <a href={{"/Korean"}}>
        <iframe width="914" height="514" src="https://www.youtube.com/embed/VX2uRreCG5Y" title="TRYING A FULL FACE OF KOREAN MAKEUP! 🇰🇷" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
        <span>Korean</span></a>
      </li>
    </ul>
    <ul class="list" id="list">
      <li class="list__item">
        <a href={{"/Douyin"}}>
        <iframe width="914" height="514" src="https://www.youtube.com/embed/H84bX7imbJs" title="BEGINNER DOUYIN MAKEUP ♡ Everyday Chinese Douyin Makeup for Beginners" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <span>Douyin</span></a>
      </li>
    </ul>
    <ul class="list" id="list">
      <li class="list__item">
        <a href={{"/Latina"}}>
        <iframe width="914" height="514" src="https://www.youtube.com/embed/EfnsDWGJksY" title="Chitchat Life Update + GRWM Latina Makeup" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <span>Latina</span></a>
      </li>
    </ul>
    <ul class="list" id="list">
      <li class="list__item">
        <a href={{"/CleanGirl"}}>
        <iframe width="914" height="514" src="https://www.youtube.com/embed/y46hvE9JAXo" title="‘clean girl’ makeup &amp; hair tutorial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <span>Clean Girl</span></a>
      </li>
    </ul>
    <ul class="list" id="list">
      <li class="list__item">
        <a href={{"/SoftGlamn"}}>
        <iframe width="914" height="514" src="https://www.youtube.com/embed/vCC3-pPnTbA" title="EASY AND DRUGSTORE SOFT GLAM MAKEUP LOOK (perfect for the holidays!!)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>  
        <span>Soft Glamn</span></a>
      </li>
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>